<!DOCTYPE html>
<html>
<head>

	<title>sommaire</title>
</head>
<body >
    <a href="{{ url_for('get_new')}}">go to library python</a>
    <a href="{{ url_for('get_index')}}">go to bruno coach 38</a>
</body>
</html>