<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="ftp://brunocoach38@files.000webhost.com/public_html/bruno.css">
	<title>coach 38</title>
</head>
<body class="bcouleur">
<h1 class="orange">Bruno Coach 38</h1>

	<li><h3 class="orange">BIENVENUE !</h3> 
<h4 class="orange"> mes coordonnées sont : 0670108379 , kosnar.bruno@live.fr</h4>
<h5 class="orange">VOICI MES LIENS POUR ME CONTACTER</h5>
<a href="{{ url_for('get_new')}}">go to library python</a>
<a href="{{ url_for('get_home')}}">retour au sommaire</a>
<br>
		<ul class="center">
			<li>
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F0%2F06%2FFacebook.svg%2F1280px-Facebook.svg.png&f=1&nofb=1" alt="Folium" width="160" height="120">
			<a  class="white"href=https://www.facebook.com/brunocoach38> facebook</a></li>
<br>

			<li>
			<img  class="white"src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fksassets.timeincuk.net%2Fwp%2Fuploads%2Fsites%2F54%2F2017%2F11%2FInstagram-Logo-920x518.jpg&f=1&nofb=1" alt="matplotlib" width="200" height="150"><a class="white"href=https://www.instagram.com/brunocoach38/?hl=fr> instagram</a></li>
<br>
			<li>
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.underconsideration.com%2Fbrandnew%2Farchives%2Fyoutube_logo_detail.png&f=1&nofb=1" alt="seaborn" width="140" height="130">
			<a  class="white"href=https://www.youtube.com/channel/UCboB19uP_O2jk9PzAORT8Cw?view_as=subscriber> youtube</a></li>
<br></ul>

</body>
</html>