<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/home/jck/Desktop/index1.css">
	<title>les librairies python</title>
</head>
<body class="bcouleur">
<h1 id="rouge">les librairies Python</h1>
<a href="{{ url_for('get_home')}}">retour au sommaire</a>
<a href="{{ url_for('get_index')}}">retour au coach 38</a>
<ol>
	<li><h3 class="couleur">pour la visualisation de données</h3> 

<h5 class="orange">&nbsp;&nbsp;&nbsp;présentation des diffèrentes librairies pour la visualisation des données en Python</h5>
<br>
		<ul class="center">
			<li>
			<img src="https://python-visualization.github.io/folium/_images/folium_logo.jpg" alt="Folium" width="85" height="120">
			<a  class="white"href=https://python-visualization.github.io/folium/> folium</a></li>
<br>
			<li>
			<img  class="white"src="https://matplotlib.org/_static/logo2_compressed.svg" alt="matplotlib" width="160" height="185"><a class="white"href=https://matplotlib.org/> matplotlib</a></li>
<br>
			<li>
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmma.prnewswire.com%2Fmedia%2F564518%2FSEABORN_LOGO_STRAPLINE_2.jpg%3Fp%3Dfacebook&f=1&nofb=1" alt="seaborn" width="250" height="130">
			<a  class="white"href=https://seaborn.pydata.org/> seaborn</a></li>
		</ul>
	<li><h3 class="couleur">pour la manipulation de données</h3></li>



<h5 class="orange">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;présentation des diffèrentes librairies pour la manipulation des données en Python</h5>

<ul class="center">
<li><h5>&nbsp;&nbsp;&nbsp;pandas<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1920px-Pandas_logo.svg.png" alt="Folium" width="175" height="25"><a  class="white"href=https://pandas.pydata.org/> pandas</a></h5></li>

<li><h5><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.l1AQ66VAXRACsmsY2ocTKgAAAA%26pid%3DApi&f=1" alt="Folium" width="50" height="50">numpy&nbsp;&nbsp;&nbsp;<a  class="white"href=https://pandas.pydata.org/> numpy</a></h5></li>
</ul>

</body>
</html>